<div class="container mt-4">
  <h3>Calculadora de Resistencias por Código de Colores</h3>

  <div class="row mt-3">
    <!-- Banda 1 -->
    <div class="col-md-3">
      <label for="banda1">Banda 1</label>
      <div *ngFor="let color of colores">
        <input
          type="radio"
          [value]="color"
          [(ngModel)]="banda1"
          name="banda1"
          [id]="'banda1-' + color.nombre"
        />
        <label [for]="'banda1-' + color.nombre">{{ color.nombre }}</label>
      </div>
    </div>

    <!-- Banda 2 -->
    <div class="col-md-3">
      <label for="banda2">Banda 2</label>
      <div *ngFor="let color of colores">
        <input
          type="radio"
          [value]="color"
          [(ngModel)]="banda2"
          name="banda2"
          [id]="'banda2-' + color.nombre"
        />
        <label [for]="'banda2-' + color.nombre">{{ color.nombre }}</label>
      </div>
    </div>

    <!-- Multiplicador -->
    <div class="col-md-3">
      <label for="banda3">Multiplicador</label>
      <div *ngFor="let color of colores">
        <input
          type="radio"
          [value]="color"
          [(ngModel)]="banda3"
          name="banda3"
          [id]="'banda3-' + color.nombre"
        />
        <label [for]="'banda3-' + color.nombre">{{ color.nombre }}</label>
      </div>
    </div>

    <!-- Tolerancia -->
    <div class="col-md-3">
      <label for="tolerancia">Tolerancia</label>
      <div *ngFor="let tol of tolerancias">
        <input
          type="radio"
          [value]="tol"
          [(ngModel)]="tolerancia"
          name="tolerancia"
          [id]="'tolerancia-' + tol.nombre"
        />
        <label [for]="'tolerancia-' + tol.nombre">
          {{ tol.nombre }} ({{ tol.porcentaje }}%)
        </label>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mt-3" (click)="calcular()">Calcular</button>

  <table class="table table-bordered table-striped mt-4">
    <thead>
      <tr>
        <th>Banda 1</th>
        <th>Banda 2</th>
        <th>Multiplicador</th>
        <th>Tolerancia</th>
        <th>Valor sin tolerancia</th>
        <th>Valor mínimo</th>
        <th>Valor máximo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ banda1.nombre }}</td>
        <td>{{ banda2.nombre }}</td>
        <td>{{ banda3.nombre }}</td>
        <td>{{ tolerancia.nombre }} {{ tolerancia.porcentaje }}%</td>
        <td>{{ resultado.nominal }}</td>
        <td>{{ resultado.minimo }}</td>
        <td>{{ resultado.maximo }}</td>
      </tr>
    </tbody>
  </table>
</div>
